*.o
*.lo
*.a
*.la
*.so
bin
lib
.autotools
.project
.cproject
.settings
.deps
/.ptp-sync/
.ptp-sync-folder
autom4te.cache
/config.h
/tblis_config.hpp
/src/configs/include_configs.hpp
/src/configs/foreach_config.h
/src/configs/foreach_type.h
/src/configs/foreach_config_and_type.h
*~
config.log
config.status
stamp-h1
.dirstamp
libtool
Makefile
tblis_config.h
