*.o
*.lo
*.a
*.la
*.so
bin
lib
.autotools
.project
.cproject
.settings
.deps
/.ptp-sync/
.ptp-sync-folder
autom4te.cache
/config.h
/tblis_config.hpp
/src/foreach_config.hpp
/src/foreach_type.hpp
/src/foreach_config_and_type.hpp
*~
config.log
config.status
stamp-h1
.dirstamp
libtool
Makefile
tblis_config.h
